#Epsilon Hacks

In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords 
from nltk.tokenize import WordPunctTokenizer

In [54]:
import warnings
warnings.filterwarnings('ignore')

## Import Data

In [55]:
df = pd.read_csv('yelp_review_arizona.csv')

In [56]:
#df = yelp[['review_id', 'user_id', 'business_id', 'text', 'stars', 'date']]

In [57]:
df_business = pd.read_csv('yelp_business.csv')

In [58]:
#Check Null values in Dataframe
df.isnull().sum()

review_id      0
user_id        0
business_id    0
text           0
stars          0
date           0
dtype: int64

In [59]:
df.head()

,review_id,user_id,business_id,text,stars,date
0,V93SYj2OLh5m9Cquzf-7kg,ZwVz20be-hOZnyAbevyMyQ,2c9Vptks_vowLgVUMnCgjw,Came here while in town for a country concert....,4,2013-09-04 1:29
1,vNTFadc6T9HeH3Qa78dc_Q,91TB-gzcNyxFh46TL0pmnQ,6nKR80xEGHYf2UxAe_Cu_g,Best barbecue this side of the Mississippi!!!!...,5,2015-12-05 2:50
2,SXRFBCt5eXCBF7TlI7UG6Q,Y_QBiZpATJoz8hKUfYF66A,fbQaKW0Lte0JQ_opbnjdKg,Absolutely amazing. Think Chipotle for enchila...,5,2014-04-01 1:56
3,CqMNjtG0hNZGhDw4RDE-zw,_Jg-IA0M-GSjBlGu-wmejg,r8764MtYyt8JhxMvrfM_xQ,I was really disappointed with my most recent ...,2,2014-10-11 3:53
4,5hZLouGEW4wm6BTJ5aNUNw,1CqkFliipv_X15WYn5aPfg,QS3QxI7u5PRdtbGgI0-UsA,I grade sushi restaurants on 3 factors:\n- Qua...,4,2015-03-04 19:36

In [60]:
df.shape

(2019, 6)

### Select only stars and text

In [61]:
#Select only stars and text
yelp_data = df[['business_id', 'user_id', 'stars', 'text']]

In [62]:
import string
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mkach\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [63]:
stop = []
for word in stopwords.words('english'):
    s = [char for char in word if char not in string.punctuation]
    stop.append(''.join(s))

In [64]:
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return " ".join([word for word in nopunc.split() if word.lower() not in stop])

### Clean Text

In [65]:
yelp_data['text'] = yelp_data['text'].apply(text_process)

In [66]:
#Split train test for testing the model later
vld_size=0.15
X_train, X_valid, y_train, y_valid = train_test_split(yelp_data['text'], df['business_id'], test_size = vld_size)

### Create two tables of user,text and business,text

In [67]:
userid_df = yelp_data[['user_id','text']]
business_df = yelp_data[['business_id', 'text']]

In [68]:
userid_df.head()

                  user_id                                               text
0  ZwVz20be-hOZnyAbevyMyQ  Came town country concert better way start day...
1  91TB-gzcNyxFh46TL0pmnQ  Best barbecue side Mississippi Come car washed...
2  Y_QBiZpATJoz8hKUfYF66A  Absolutely amazing Think Chipotle enchiladas N...
3  _Jg-IA0M-GSjBlGu-wmejg  really disappointed recent visit Vintage 95 ma...
4  1CqkFliipv_X15WYn5aPfg  grade sushi restaurants 3 factors Quality Exce...

In [69]:
userid_df[userid_df['user_id']=='ZwVz20be-hOZnyAbevyMyQ']['text']

0       Came town country concert better way start day...
1098    Amazing Im golfer ended loving went family lov...
Name: text, dtype: object

In [70]:
business_df.head()

              business_id                                               text
0  2c9Vptks_vowLgVUMnCgjw  Came town country concert better way start day...
1  6nKR80xEGHYf2UxAe_Cu_g  Best barbecue side Mississippi Come car washed...
2  fbQaKW0Lte0JQ_opbnjdKg  Absolutely amazing Think Chipotle enchiladas N...
3  r8764MtYyt8JhxMvrfM_xQ  really disappointed recent visit Vintage 95 ma...
4  QS3QxI7u5PRdtbGgI0-UsA  grade sushi restaurants 3 factors Quality Exce...

### Join the text with for each user_id and business_id

In [71]:
userid_df = userid_df.groupby('user_id').agg({'text': ' '.join})
business_df = business_df.groupby('business_id').agg({'text': ' '.join})

In [72]:
userid_df.head()

                                                                     text
user_id
#NAME?                  Visited Chino couple nights ago couple years p...
-0g4b9oK3iptky6YY3vDyQ  Love place Good coffee breakfast lunch options...
-318sKiQDgbjLzF4FCU1XA  service wonderful pizza appetizer great wine h...
-3UR6uwjT2kRjbQv1cxgxA  pretty average Viet restaurant would probably ...
-5IhsZXkCka8u8LVksXKLw  far 7 checkins surprised find Ive made note go...

In [73]:
userid_df.loc['ZwVz20be-hOZnyAbevyMyQ']['text']

'Came town country concert better way start day Everything great service amazing time walked door sat table surprise beer whiskey tap table pay ounce screen show drank food great whiskey burger favorite country fans must Scottsdale Amazing Im golfer ended loving went family loves golf planned staying hour since golf 6 hours later left far drive place right food amazing expect good brisket tacos chorizo sliders favorite Good quality food many unique items highly recommend place people ages teens loved bays nice roomy 7 us bay 10 people must try back soon'

## User Tfidf Vectorizer with 5000 Features (represent 88% of all words)

In [74]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [75]:
#userid vectorizer
userid_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=5000)
userid_vectors = userid_vectorizer.fit_transform(userid_df['text'])
userid_vectors.shape

(1744, 5000)

In [76]:
userid_vectors

<1744x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 96220 stored elements in Compressed Sparse Row format>

In [77]:
#Business id vectorizer
businessid_vectorizer = TfidfVectorizer(tokenizer = WordPunctTokenizer().tokenize, max_features=5000)
businessid_vectors = businessid_vectorizer.fit_transform(business_df['text'])
businessid_vectors.shape

(127, 5000)

# Matrix Factorization

In [78]:
userid_rating_matrix = pd.pivot_table(yelp_data, values='stars', index=['user_id'], columns=['business_id'])
userid_rating_matrix.shape

(1744, 127)

In [79]:
userid_rating_matrix.head()

business_id,#NAME?,-4TMQnQJW1yd6NqGRDvAeA,0PMKMyfX1j7Nc4esk1RaMg,0xyqLvtr0Zbr4G-gML-QmQ,1HD5iUUfVJDbfEBIn9yVhw,1QJFpZxLbHbXSKohWp9uIA,1qwkbN3wu3AGDxMTXVz2gA,24Td_CQH1bonWKff1rt2vg,2DUdvdQE8FOxCHHp59HHzw,2FfZUyA82YhQCjWNiqDCzQ,...,vyDW7_CHhDUJshMqaSjj0g,wHq1efQVz17338k_aUOX3w,wJY74R0zAgjxvBf-d4gm9g,wMN68wTTlu8hADAF3FkKTw,wUKzaS1MHg94RGM6z8u9mw,wopyolJM2hOAt3dPRmahNA,xS5HGqgk0KY2jFWU-l_nrA,yAXWKWRTs4wNy-zrJgoeXQ,yNPh5SO-7wr8HPpVCDPbXQ,zidkKI_N1OPxsiddTOQH_Q
user_id,,,,,,,,,,,,,,,,,,,,,
#NAME?,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,5.0,4.0
-0g4b9oK3iptky6YY3vDyQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-318sKiQDgbjLzF4FCU1XA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-3UR6uwjT2kRjbQv1cxgxA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-5IhsZXkCka8u8LVksXKLw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
P = pd.DataFrame(userid_vectors.toarray(), index=userid_df.index, columns=userid_vectorizer.get_feature_names())
Q = pd.DataFrame(businessid_vectors.toarray(), index=business_df.index, columns=businessid_vectorizer.get_feature_names())

In [81]:
Q.head()

,1,10,100,1000,1040,11,1100,1145,11am,11pm,...,yuck,yum,yumm,yummy,yup,zero,zest,ziti,zucchini,​
business_id,,,,,,,,,,,,,,,,,,,,,
#NAME?,0.024667,0.02233,0.000000,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.000000,0.007815,0.0,0.0,0.00000,0.0,0.0,0.0
-4TMQnQJW1yd6NqGRDvAeA,0.000000,0.00000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.221101,0.026616,0.0,0.0,0.00000,0.0,0.0,0.0
0PMKMyfX1j7Nc4esk1RaMg,0.000000,0.00000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.062626,0.0,...,0.0,0.0,0.000000,0.027501,0.0,0.0,0.06592,0.0,0.0,0.0
0xyqLvtr0Zbr4G-gML-QmQ,0.041224,0.00000,0.018459,0.0,0.0,0.02204,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0
1HD5iUUfVJDbfEBIn9yVhw,0.000000,0.00000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0

## Gradient Decent Optimization

In [82]:
def matrix_factorization(R, P, Q, steps=25, gamma=0.001,lamda=0.02):
    for step in range(steps):
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    eij=R.loc[i,j]-np.dot(P.loc[i],Q.loc[j])
                    P.loc[i]=P.loc[i]+gamma*(eij*Q.loc[j]-lamda*P.loc[i])
                    Q.loc[j]=Q.loc[j]+gamma*(eij*P.loc[i]-lamda*Q.loc[j])
        e=0
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    e= e + pow(R.loc[i,j]-np.dot(P.loc[i],Q.loc[j]),2)+lamda*(pow(np.linalg.norm(P.loc[i]),2)+pow(np.linalg.norm(Q.loc[j]),2))
        if e<0.001:
            break
        
    return P,Q

In [83]:
%%time
P, Q = matrix_factorization(userid_rating_matrix, P, Q, steps=25, gamma=0.001,lamda=0.02)

Wall time: 16min 30s

In [84]:
Q.head()

,1,10,100,1000,1040,11,1100,1145,11am,11pm,...,yuck,yum,yumm,yummy,yup,zero,zest,ziti,zucchini,​
business_id,,,,,,,,,,,,,,,,,,,,,
#NAME?,0.041567,3.875387e-02,0.000798,2.605139e-03,1.318713e-04,0.000278,8.977194e-05,6.745825e-08,1.241007e-04,2.309292e-04,...,2.432348e-04,1.078716e-03,3.221997e-07,0.019932,2.637736e-03,9.031124e-05,2.627112e-07,3.605203e-04,3.657843e-04,2.410264e-04
-4TMQnQJW1yd6NqGRDvAeA,0.000267,1.090142e-04,0.000362,1.670624e-04,1.835763e-04,0.000290,1.295136e-04,1.042085e-04,4.376731e-05,1.226278e-07,...,1.113960e-08,1.813452e-04,2.731926e-01,0.046231,3.613854e-07,8.150453e-08,1.264820e-04,2.178273e-07,9.948038e-05,1.491281e-07
0PMKMyfX1j7Nc4esk1RaMg,0.000053,5.744148e-05,0.000021,1.657296e-06,5.038737e-08,0.000023,3.271448e-08,2.105634e-11,7.187814e-02,1.834981e-08,...,3.358279e-08,7.098396e-05,6.298036e-11,0.038894,8.985855e-08,4.568490e-05,7.550750e-02,1.530012e-07,2.600018e-06,9.279661e-08
0xyqLvtr0Zbr4G-gML-QmQ,0.064738,2.965932e-08,0.030042,1.283157e-07,1.238321e-18,0.024598,7.627748e-19,1.104016e-11,8.861716e-19,3.586637e-15,...,6.867953e-19,4.788361e-08,3.997368e-14,0.000130,1.484864e-18,2.282552e-18,1.178414e-11,8.064341e-16,9.466624e-12,1.102907e-18
1HD5iUUfVJDbfEBIn9yVhw,0.009289,8.321166e-04,0.000218,1.543529e-04,2.010739e-04,0.000164,1.401083e-04,3.516736e-08,4.822517e-05,9.740952e-08,...,2.170936e-08,2.925104e-04,6.051355e-07,0.013073,7.475214e-07,3.511341e-07,3.895407e-08,8.910928e-07,4.827897e-05,6.609925e-07

In [98]:
Q.iloc[0].sort_values(ascending=False).head(10)

breakfast    0.528137
pancakes     0.413557
place        0.386709
food         0.351115
good         0.330801
great        0.267813
eggs         0.224874
like         0.210402
juice        0.203892
service      0.203596
Name: #NAME?, dtype: float64

### Export Model

In [86]:
# Store P, Q and vectorizer in pickle file
import pickle
output = open('yelp_recommendation_model_final.pkl', 'wb')
pickle.dump(P,output)
pickle.dump(Q,output)
pickle.dump(userid_vectorizer,output)
output.close()

## Prediction for input text

In [116]:
words = ""
test_df= pd.DataFrame([words], columns=['text'])
test_df['text'] = test_df['text'].apply(text_process)
test_vectors = userid_vectorizer.transform(test_df['text'])
test_v_df = pd.DataFrame(test_vectors.toarray(), index=test_df.index, columns=userid_vectorizer.get_feature_names())

predictItemRating=pd.DataFrame(np.dot(test_v_df.loc[0],Q.T),index=Q.index,columns=['Rating'])
topRecommendations=pd.DataFrame.sort_values(predictItemRating,['Rating'],ascending=[0])[:7]

for i in topRecommendations.index:
    print(i)
    print(df_business[df_business['business_id']==i]['name'].iloc[0])
    print(df_business[df_business['business_id']==i]['categories'].iloc[0])
    print(str(df_business[df_business['business_id']==i]['stars'].iloc[0])+ ' '+str(df_business[df_business['business_id']==i]['review_count'].iloc[0]))
    print('')

IndexError: single positional indexer is out-of-bounds